<?xml version="1.0" encoding="utf-8"?>
<!--
	cursus - Race series management program
	Copyright 2011  Simon Arlott

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<jnlp spec="1.5+" codebase="http://jnlp.s85.org/cursus" href="$outputFile">
	<information>
		<title>$project.Name</title>
		<vendor>$project.Organization.Name</vendor>
		<description>$project.Description</description>
		<homepage href="$project.Url"/>
		<icon href="103_2818__16.jpg" width="16" height="16"/>
		<icon href="103_2818__32.jpg" width="32" height="32"/>
		<icon href="103_2818__48.jpg" width="48" height="48"/>
		<icon href="103_2818__64.jpg" width="64" height="64"/>
		<icon href="103_2818__128.jpg" width="128" height="128"/>
		<icon href="103_2818__256.jpg" width="256" height="256"/>
		<offline-allowed/>
		<shortcut online="false">
			<desktop/>
			<menu/>
		</shortcut>
 	</information>
 	<security>
 		<all-permissions/>
 	</security>
 	<resources>
		<j2se version="1.6+" java-vm-args="-ea"/>
		<property name="jnlp.packEnabled" value="true"/>
		$dependencies
 	</resources>
 	<application-desc main-class="$mainClass"/>
</jnlp>
