table.results { border-collapse: collapse; color: #000; background: #fff; border: 1px solid #000; }
th { padding: 0.1em 0.25em 0.1em 0.25em; border: 1px solid #888; }
td { padding: 0.1em 0.2em 0.1em 0.2em; border: 1px solid #888; }
tr:first-child th, tr:first-child td { border-top: none; }
tr:last-child th, tr:last-child td { border-bottom: none; }
tr th:first-child, tr td:first-child { border-left: none; }
tr th:last-child, tr td:last-child { border-right: none; }
tbody tr:first-child th, tbody tr:first-child td { border-top: 1px solid #888; }
thead tr:last-child th, thead tr:last-child td { border-bottom: 1px solid #888; }

td { text-align: center; }
th.type, th.classes, th.event, th.race, td.pilot.name { text-align: left; }
tbody tr:hover { background: #ff8; }

.race.pts.dis { color: #0a0; }
.race.pts.sim { color: #f00; }
.over.pts { font-weight: bold; }
.notes ul.pen { padding: 0; }
.notes ul.pen, .notes ul.pen li { display: inline; }
.notes ul.pen li:after { content: ", "; }
.notes ul.pen li:last-child:after { content: ""; }

ul.menu { padding: 0.2em 0 0.2em 0; color: #000; background: #fff; }
ul.menu, ul.menu li { display: inline; line-height: 2; border-top: 1px solid; border-bottom: 1px solid; }
ul.menu li { border-left: 1px solid; padding: 0.2em 0 0.2em 0.75ex; }
ul.menu li:last-child { border-right: 1px solid; padding-right: 0.75ex; }
ul.menu li:hover { background: #ff8; }
